.container {
    max-width: 960px;
    margin: 0 auto;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1.2rem;
}

table {
    width: 100%;
}

thead tr{
    background-color: rgb(208, 246, 233);
}

tr {
    background-color: blanchedalmond;
}
th, td {
    padding: 15px;
}

.center{
    text-align: center;
}
