.container {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}


.headline,
.courselist{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.header,
.courserow {
    margin-bottom: 10px;
    border: 1px dotted;
    padding: 10px;
}

.header{
    background-color: rgb(208, 246, 233);
}
.courserow{
    background-color: blanchedalmond;
}
