<div class="container">
  <h1>Webbutveckling - Ramschema</h1>
  <div class="search">
    <label for="search">Sök:</label>
    <input type="text" id="search" placeholder="Sök efter kurskod, kursnamn eller progression">
  </div>

  <table>
    <thead>
      <tr>
        <th>Kurskod</th>
        <th>Kursnamn</th>
        <th>Progression</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courselist">
        <td class="center">{{ course.code }}</td>
        <td>{{ course.coursename }}</td>
        <td class="center">{{ course.progression }}</td>
      </tr>
    </tbody>
  </table>
</div>